{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Tags
      <small> {{cat}}</small>
    </h1>
  
  
   <!-- Page content  -->
  <div class="row">
  <div class="col-lg-7 mb">
{% for post in posts %}
    <!-- {{post.title}} -->
    {% for tag in posts.tags.all %}
    {% endfor %}
    <div class="card h-20">

        <a href='/blog/post/{{post.slug}}/'><img class="card-img-top img-fluid rounded img-thumbnail rounded mx-auto d-block" src="{{post.featured_image.url}}" alt="image" style="width:700px;height:400px;" ></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href='/blog/post/{{post.slug}}/'>{{post.title}}</a>
           
          </h4>
           <i>{{post.created_at}}</i>
          <p class="card-text">{{ post.description | safe | truncatewords:20 }}<a href='/blog/post/{{post.slug}}/' style='color:green;'>read more</a> </p>
        </div>
</div> 
<br>
{% endfor %}
 </div> 


<!-- Page widget --> 

  <!-- Sidebar Widgets Column -->
  <div class="col-md-5">

    <!-- Search Widget -->
    <div class="card my-5">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <div class="input-group">

         <!--search -->
          <form class="form-inline my-2 my-lg-0" action='/search/'>
          <input type="search" name='q' class="form-control" placeholder="Search for">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success" >Go</button>
          </span>
          </form>
          <!--search /-->

        </div>
      </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-5">
      <h5 class="card-header" style='color:green;'>Categories</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
            {% for cat  in cats %}
            <li>
                <a href="/blog/category/{{cat.name}}/">{{cat.name}}</a>
              </li>
            {% endfor %}
               </div>
        </div>
      </div>
    </div>
<!-- Categories Widget/ -->
              

    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">Tags</h5>
      <div class="card-body">
        
          {% for mt in common_tags %}
          <a href="/blog/tag/{{mt}}/" class="badge badge-success">{{mt}}</a>
          {% endfor %}
      </div>
    </div>

{% endblock content %}