{% extends "base.html" %}
{% load static %}

{% block content %}



  <!-- Main Content -->
<div class="container justify-content-center" >
  <div class="d-flex justify-content-center">
<h1 class="bg-success" style="color: white"> NEW POSTS !!!</h1>
</div>  
<hr>
<br>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for post in posts|slice:":3" %}
    {% if forloop.first %}
        <div class="carousel-item active">
        <img class="d-block w-100" src="{{post.featured_image.url}}">
    {% else %}
        <div class="carousel-item">
        <img class="d-block w-100" src="{{post.featured_image.url}}">
    {% endif %}
        <blockquote>
            <p>{{post.created_at}}</p>
        </blockquote>
        <a href="/blog/post/{{post.slug}}/"><b>{{post.title}}</b></a>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>


  {% endfor %}
</div>



</div>
</div>
</div>  

<!-- /////////////////////////////////////////////////////////////////////////////////////////// -->


{% endblock  %}
  