{% extends "base.html" %}
{% load static %}

{% block content %}


<div class='container'>

{% if query %}
<h1>You searched for "{{query}}"</h1>


 <!-- Page content  -->
<div class="row">
<div class="col-lg-7 mb">
{% for post in posts %}
{% if post.published %}


   <div class="card h-20">

        <a href='/blog/post/{{post.slug}}/'><img class="card-img-top img-fluid rounded img-thumbnail rounded mx-auto d-block" src="{{post.featured_image.url}}" alt="image" style="width:700px;height:400px;" ></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href='/blog/post/{{post.slug}}/'>{{post.title}}</a>
         
          </h4>
           <i>{{post.created_at}}</i>
          <p class="card-text">{{ post.description | safe | truncatewords:20 }}<a href='/blog/post/{{post.slug}}/' style='color:green;'>read more</a> </p>
        </div>
</div> 

{% else %}
{% endif %}
 
{% endfor %}
 </div> 


<!-- Page widget --> 

 {% include "widget.html" %}
  <!-- Page widget/ -->
 </div>
 
 <!-- Page content /-->

</div>
<!-- /.container -->


{% else %}
<p> you searched for Nothing</p>
{% endif %}

{% endblock  %}