{% extends "base.html" %}
{% load static %}
<!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-post.css" rel="stylesheet' %}">
{% block content %}

    <!-- Page Content -->
    <div class="container">
  


    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-7">

    
    {% for post in posts %}
    {% if post.published %}
  
        <!-- Title -->
        <h1 class="mt-3">{{post.title}}</h1>

        <!-- Author -->
        <p class="lead text-left">
          <i>Published : </i>{{post.created_at}}</p> -by
          {{post.author}}
       <br>
       <hr>
       
       

        <!-- Date/Time -->
        <p></p>
   
        <!-- Preview Image -->
        <img class="img-fluid rounded img-thumbnail rounded mx-auto d-block" src="{{post.featured_image.url}}" style="width:1000px;height:500px;" alt="Preview"> 

        <hr>

        <!-- Post Content -->
        <p class="lead">{{post.description | safe }} </p>

        <hr>
        <br>
         <h2>{{ comments.count }} comments</h2>
        {% for comment in comments %}
        <div class="container" style="padding-top: 10px "">
        <div class="row">
          <div class="col-sm-3">
          <img src="{% static 'img/user.png' %}" style="width: 100px; padding-top: 20px">
          </div>
          <div class="col-sm-9">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
            </p>
          {{ comment.body | linebreaks }}
        </div>
       </div>
        <hr/>
        </div>
        {% endfor %}
        <br>
  <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
        {{ comment_form.as_p }}
        {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
  </div>
        


    {% else %}
    {% endif %}

    {% endfor %}
        
      
    </div>
    <!-- /.row -->

{% include "widget.html" %}

   


  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="{static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock  %}







 

        


  <!-- Footer -->


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
